<%= form_for(@whatmovie) do |f| %>
  <% if @whatmovie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whatmovie.errors.count, "error") %> prohibited this whatmovie from being saved:</h2>

      <ul>
      <% @whatmovie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
